body {
    font-family: Raleway, sans-serif;
    padding-top: 60px;
    background-color: #F9F9F9;
}

p {
    font-size: 16px;
    color: #242424;
}

.navbar-brand img {
    height: 30px;
}

.nav-item {
    font-size: small;
    align-content: center;
}

.hero {
    background-image: url("assets/hero.jpg");
    background-size: cover;
    padding: 50px;
    height: 400px;
    align-content: center;
    text-align: center;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.204) 1px 1px 2px;
    border-radius: 30px;
    margin: 20px;
}

.hero h1 {
    font-size: 36px;
}

.hero h2 {
    font-size: 18px;
}

.hero p {
    color: #FFFFFF;
}

.sobremi {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
}

.sobremi h2 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
    color: #414141;
}


.sobremi button {
    align-content: center;
    padding: 10px;
    left: 271px;
    top: 978px;
    background: #FFFFFF;
    border: 1px solid #c12de7;
    border-radius: 8px;
    color: #c12de7;
}


.educacion {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
}

.educacion h2 {
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
    color: #414141;
}