body {
    font-family: Raleway, sans-serif;
    padding-top: 60px;
    background-color: #F9F9F9;
}

p {
    font-size: 16px;
    color: #242424;
}

.navbar-brand img {
    height: 30px;
}

.nav-item {
    font-size: small;
    align-content: center;
}

.hero {
    background-image: url("assets/hero.jpg");
    background-size: cover;
    padding: 50px;
    height: 400px;
    align-content: center;
    text-align: center;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.204) 1px 1px 2px;
    border-radius: 30px;
    margin: 20px;
}

.hero h1 {
    font-size: 36px;
}

.hero h2 {
    font-size: 24px;
    font-style: italic;
}

.hero p {
    color: #FFFFFF;
}

.sobremi {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
}

.sobremi h2 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
    color: #414141;
}


.sobremi button {
    align-content: center;
    padding: 10px;
    left: 271px;
    top: 978px;
    background: #FFFFFF;
    border: 1px solid #c12de7;
    border-radius: 8px;
    color: #c12de7;
}

.sobremi img {
    width: 90px;
    padding-bottom: 20px;
}

.educacion {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
}

.educacion h2 {
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
    color: #414141;
}

.experiencia {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(assets/image\ 1.jpg);
    background-size: cover;
    border-radius: 30px;
    margin: 20px;
    align-content: center;

}

.experiencia h2 {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    text-shadow: rgba(0, 0, 0, 0.113) 1px 1px 2px;

}

.experiencia .col {
    margin: 20px;
    background-color: #efefef0a;
    padding: 20px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(15px);
    /* Safari */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.05);
}

.experiencia .skill h3 {
    color: white;
    font-size: 20px;
    text-shadow: rgba(0, 0, 0, 0.113) 1px 1px 2px;

}

.experiencia .skill p {
    color: white;
    font-size: 16px;
    text-shadow: rgba(0, 0, 0, 0.113) 1px 1px 2px;

}

.experiencia img{
    width: 90px;
    padding-bottom: 20px;
}
